alembic==1.20.0
amqp==5.4.0
annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.15.1
argon2-cffi==25.1.0
argon2-cffi-bindings==26.1.0
billiard==4.3.0
celery==5.6.3
cffi==2.1.1
click==8.5.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.4.0
fastapi==0.141.1
greenlet==3.5.6
h11==0.16.0
idna==3.20
kombu==5.6.2
Mako==1.4.1
MarkupSafe==3.0.3
packaging==26.3
prompt_toolkit==3.0.53
psycopg==3.3.6
psycopg-binary==3.3.6
pycparser==3.0
pydantic==2.13.5
pydantic_core==2.46.5
python-dateutil==2.9.0.post0
redis==6.4.0
six==1.17.0
SQLAlchemy==2.0.54
starlette==1.6.0
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2026.4
tzlocal==5.4.4
uvicorn==0.53.0
vine==5.1.0
wcwidth==0.8.4
